@media (min-width:768px){.carousel-inner .active,
.carousel-inner .active+.carousel-item{display:block;}
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item{transition:none;}
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev{position:relative;transform:translate3d(0, 0, 0);}
.carousel-inner .active.carousel-item+.carousel-item+.carousel-item{position:absolute;top:0;right:-50%;z-index:-1;display:block;visibility:visible;}
.active.carousel-item-left+.carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left+.carousel-item,
.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item{position:relative;transform:translate3d(-100%, 0, 0);visibility:visible;}
.carousel-inner .carousel-item-prev.carousel-item-right{position:absolute;top:0;left:0;z-index:-1;display:block;visibility:visible;}
.active.carousel-item-right+.carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right+.carousel-item,
.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item{position:relative;transform:translate3d(100%, 0, 0);visibility:visible;display:block;visibility:visible;}
}