// Bootstrap overrides for this template
.text-primary {
  color: $primary !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 150px;
  @include roboto-font;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($primary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 215, 0,.5) !important;
  }
}

.btn-secondary {
  background-color: $white;
  border-color: $white;
  color:$primary;
  border-radius: 5px;
  &:hover,
  &:focus,
  &:active {
    color: $primary;
    background-color: darken($white, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 215, 0,.5) !important;
  }
}

.btn-buy {
  background-color: $primary;
  border-color: $primary;
  color:$white;
  border-radius: 5px;
  &:hover,
  &:focus,
  &:active {
    color: $primary;
    background-color: darken($primary, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 215, 0,.5) !important;
  }
}

.form-control {
  background-color: $secondary;
  border: $secondary;
}

*::-webkit-input-placeholder {
    color: #84c2ff!important;
    opacity: 0.5;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #84c2ff!important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #84c2ff!important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #84c2ff!important;
}

.img-grid {
  align-content: center;
  padding: 7px;
  width: 370px;
  max-width: 100%;
  height: 370px;
}

.nav-tabs{
  border-color: $primary;
}